{% extends "base.html" %}
{% block title %} Realtime {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> Realtime Face Recognition </h1>
   
    <div id="my_camera"></div>
    <br/>
    <div id="snap_image">

    </div>
    <div>
        <input id="snapshot" type=button value="Snapshot" onClick="take_snapshot()">
        <input id="showresult" type=button value="showresult" onClick="show_result()">
    </div>
    <br/>
    <div>
        <h3 id="result"></h3>
    </div>
    
   
{% endblock %}


{% block scripts %}

<script type="text/javascript" src={{ url_for('static', filename='webcam.js') }}> </script>
<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script language="JavaScript">
    Webcam.set({
        width: 250,
        height: 250,
        image_format: 'jpeg',
        jpeg_quality: 90
    });
    Webcam.attach( '#my_camera' );
    document.getElementById('showresult').style.display = 'none';
    document.getElementById('snapshot').style.display = '';
    document.getElementById('snap_image').style.display = 'none';
</script>


<script language="JavaScript">
    function take_snapshot() {
        // take snapshot and get image data
         Webcam.snap( function(data_uri) {
    // snap complete, image data is in 'data_uri'
             Webcam.upload( data_uri, '/realtime', function(code, text) {
        // Upload complete!
        // 'code' will be the HTTP response code from the server, e.g. 200
        // 'text' will be the raw response content
         } );

             document.getElementById('snap_image').innerHTML =
                    '<h2>The snap image</h2>' +
                    '<img src="'+data_uri+'"/><br/></br>';
             document.getElementById('snap_image').style.display = ''
             Webcam.reset();
             document.getElementById('my_camera').style.display = 'none';
             document.getElementById('showresult').style.display = '';
             document.getElementById('snapshot').style.display = 'none';

             //alert({{info}})
         } );
    }
</script>

<script language="JavaScript">
    function show_result(){
        $.getJSON($SCRIPT_ROOT+"_show",
                function(data){
                    $("#result").text(data.result)
                }
            );
    }
</script>

{% endblock%}